<manifest package="com.aodfix.lsposed"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

    <application android:label="AOD Fix LSPosed Module" android:allowBackup="false">
        <!-- No activities: this is an Xposed/LSPosed module -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="LSPosed module that forces AOD standby timeout to 0 for HIOS com.transsion.aod" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
