<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="AOD Fix"
        android:icon="@android:drawable/sym_def_app_icon"
        android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Keep AOD always on (1 minute)" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>
